@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Signika:400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

$white: #fefefe;
$grey: #c4bdbd;
$grey2: #918b8b; 
$green: #006d56; 