<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="apple-touch-icon" sizes="180x180" href="static/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16x16.png">
	<link rel="manifest" href="static/icons/site.webmanifest">
	<link rel="mask-icon" href="static/icons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#ffffff">
	<title>Schizophrenia - Chapitre 0</title>
</head>

<body>
	<div class="cursor-fixed"></div>
	<div class="cursor">
		<div class="inside_cursor"></div>
	</div>
	<div class="bar-transition bar-transition-1" data-duration="600"></div>
	<div class="bar-transition bar-transition-2" data-duration="1000"></div>
	<div class="bar-transition bar-transition-3" data-duration="700"></div>
	<div class="bar-transition bar-transition-4" data-duration="900"></div>
	<audio class="off" data-ref="0" data-page="chapter0">
		<source src="static/music/chap0.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio class="off" data-ref="0" data-page="chapter1">
		<source src="static/music/chap1.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio class="off" data-ref="0" data-page="chapter3">
		<source src="static/music/chap3.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio class="off" data-ref="0" data-page="chapter4">
		<source src="static/music/chap4.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio class="off" data-ref="0" data-page="chapter5">
		<source src="static/music/chap5.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio loop class="ambient">
		<source src="static/music/ambient.mp3" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<div id="barba-wrapper">
		<div class="barba-container" data-namespace="chapter0">
			<audio src="static/music/menu.mp3" class="audio-menu"></audio>
			<div class="chapter-content">
				<div class="menu-svg">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5"
					    stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle">
						<circle cx="12" cy="12" r="10"></circle>
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
					    stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
						<line x1="3" y1="12" x2="21" y2="12"></line>
						<line x1="3" y1="6" x2="21" y2="6"></line>
						<line x1="3" y1="18" x2="21" y2="18"></line>
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
					    stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
						<line x1="18" y1="6" x2="6" y2="18"></line>
						<line x1="6" y1="6" x2="18" y2="18"></line>
					</svg>
				</div>
				<div class="current-chapter">
					<div class="title">
						<div class="title-bar before"></div>
						Chapitre 0
						<div class="title-bar after"></div>
					</div>
				</div>

				<div class="progress-bar">
					<div class="progress-bg" data-state="0"></div>
					<div class="progress-visible">
						<div class="theme theme-0">
							<div class="point" data-anchor='0'></div>
						</div>
						<div class="theme theme-1">
							<div class="point" data-anchor='1'></div>
							<div class="point" data-anchor='2'></div>
						</div>
						<div class="theme theme-2">
							<div class="point" data-anchor='3'></div>
						</div>
					</div>
				</div>

				<div class="screen active" data-active data-screen="0">
					<div class="media">
						<img src="static/images/00_bg0a.png" alt="" data-parallax data-amplitude="-0.2">
						<img src="static/images/00_bg0b.png" alt="" data-parallax data-amplitude="0.5">
					</div>
					<div class="overlay"></div>
					<div class="intro">
						<div class="title" data-transition="1">De la folie à la schizophrénie</div>
						<div class="dates" data-transition="1">1898 - 1911</div>
						<div class="subtitle" data-transition="1">La schizophrénie existe depuis des siècles, en revanche l’emploi du terme schizophrène n’est que très récent. </div>
					</div>
				</div>

				<div class="screen" data-active data-screen="1">
					<div class="media">
						<img src="static/images/00_bg1a.png" alt="" data-parallax data-amplitude="0.2">
						<img src="static/images/00_bg1b.png" alt="" data-parallax data-amplitude="0.5">
					</div>
					<aside class="plus" data-plus="1">
						<div class="overlay"></div>
						<div class="container">
							<div class="disclaimer">
								<div class="title">En savoir plus</div>
								<div class="more-text">
									<p>
										C’est la Grèce classique qui, la première, a longuement réfléchi sur la folie, sur la maladie de l’âme. Existe –t-il des
										civilisations ou des sociétés, même premières sans fous ? s’interroge l’auteur. Il consacre quelques pages aux
										civilisations qui ont précédé et influencé la Grèce où les fous sont soignés par des « prêtres-médecins » au milieu
										d’un déploiement religieux, de jeûnes, d’ablutions de purifications et d’onctions.
									</p>
									<p>
										Dans la médecine babylonienne et dans la Perse ancienne toutes les maladies sont commandées par des démons et le traitement
										fonctionne sur le modèle magico-religieux.
									</p>
									<p>
										Il est difficile de savoir quel sort était réservé aux « vrais » fous dans un environnement moins tolérant que celui des
										civilisations polythéistes, qui excluait et réprimait les pratiques magiques. Chassés de leur communauté, se cachant
										dans les bois pour y mener une vie sauvage, nombre de ces fous donnent naissance au mythe de la lycanthropie («
										loup-homme », le futur loup-garou).
									</p>
									<p>
										La richesse de la réflexion théorique des Grecs et des Latins a abouti à une, non moins riche élaboration thérapeutique,
										décrite dans les traités d’Hippocrate. A partir du III° siècle après J-C, c’est un véritable arsenal thérapeutique
										qui est à la disposition des médecins. L’isolement d’un malade s’entendait à titre privé, au sein d’une famille.
										Il n’y avait pas d’hôpitaux ni d’asiles pour cela. Ce devait être assez fréquent pour que les plus grands médecins
										y consacrent des traités entiers.
									</p>
								</div>
							</div>
						</div>
					</aside>
					<div class="overlay"></div>
					<div class="text">
						<div class="title" data-transition="1">Un châtiment des Dieux</div>
						<div class="subtitle" data-transition="1">Dans la médecine de la Grèce Antique, ou encore dans celle babylonienne et dans la Perse ancienne, les premières formes
							de la maladie étaient perçues comme un châtiment des dieux. De ce fait, on pensait à l’époque qu’il était possible
							de soigner les symptômes facilement avec un traitement fonctionnant sur le modèle magico-religieux.
						</div>
						<div class="more" data-transition="1">
							En savoir plus
						</div>
					</div>
				</div>

				<div class="screen" data-active data-screen="2">
					<div class="media">
						<video class="video" data-ref="2">
							<source src="static/videos/video4.mp4" type="video/mp4">
						</video>
					</div>
					<aside class="plus" data-plus="2">
						<div class="overlay"></div>
						<div class="container">
							<div class="disclaimer">
								<div class="title">En savoir plus</div>
								<div class="more-text">La démence précoce (ou démence juvénile) désigne des états de désagrégation cognitive chronique et psychotique survenant
									habituellement au plus tard de l'adolescence, chez les jeunes adultes ou avant 65 ans.</div>
							</div>
						</div>
					</aside>
					<div class="overlay video"></div>
					<div class="movie">
						<div class="title" data-transition="1">La théorie de Kraepelin</div>
						<div class="subtitle" data-transition="1">Il définit la démence précoce comme une psychose chronique survenant chez un adolescent ou un jeune adulte, caractérisée
							par de graves troubles intellectuels et affectifs, avec une évolution progressive vers un effondrement psychique.
							Ces symptômes sont les troubles de la mémoire, du langage, du raisonnement, des accès de négativisme (comportement
							de refus et d'opposition aux suggestions d’autrui), de maniérisme et de périodes d’excitation.
						</div>
						<div class="more" data-transition="1">
							En savoir plus
						</div>
					</div>
				</div>

				<div class="screen" data-active data-screen="3">
					<div class="media">
						<img src="static/images/00_bg3.png" alt="" data-parallax data-amplitude="0.5">
					</div>
					<div class="overlay"></div>
					<div class="sound">
						<div class="title" data-transition="1"> Le terme Schizophrénie</div>
						<div class="subtitle" data-transition="1">
							En 1908, Emil Kraepelin nomme un nouveau nom à ce qu’il appelait démence précoce. Il est difficile de définir de manière
							synthétique la schizophrénie car elle rassemble un ensemble de pathologies qui font que chaque schizophrène ne présente
							pas les mêmes symptômes et ne peut se soigner de la même manière.
						</div>
					</div>
					<div class="player" data-url="static/music/itw00-3.mp3" data-ref="3">
						<div class="controls">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
							    stroke-linecap="round" stroke-linejoin="round" class="feather feather-pause-circle" data-type="pause">
								<circle cx="12" cy="12" r="10"></circle>
								<line x1="10" y1="15" x2="10" y2="9"></line>
								<line x1="14" y1="15" x2="14" y2="9"></line>
							</svg>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
							    stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle active" data-type="play">
								<circle cx="12" cy="12" r="10"></circle>
								<polygon points="10 8 16 12 10 16 10 8"></polygon>
							</svg>
						</div>
					</div>
					<div class="expert">
						<div class="name">Philippe Fossati</div>
						<div class="job">Chef du service de psychiatrie adulte, Hopitâl Salpêtrière</div>
					</div>
				</div>

				<nav class="menu" data-active>
					<div class="corner"></div>
					<div class="img-container active" data-chapter="0">
						<img src="static/images/00_bg0a.png" alt="" data-parallax data-amplitude="0.2" class="bg">
						<img src="static/images/00_bg0b.png" alt="" data-parallax data-amplitude="0.5" class="front">
					</div>
					<div class="img-overlay"></div>
					<div class="data-container">
						<div class="text">
							<div class="chapter" data-transition="2">Choix du chapitre</div>
							<div class="title" data-transition="2">De la folie à la Schizophrénie</div>
							<div class="dates" data-transition="2">1898 - 1911</div>
						</div>
						<div class="numbers">
							<a class="cir-0 cir" data-cir="0" href="chapter0.html" data-transition="3">
								<div class="number">0</div>
							</a>
							<a class="cir-1 cir" data-cir="1" href="chapter1.html" data-transition="3">
								<div class="number">1</div>
							</a>
							<a class="cir-2 cir" data-cir="2" href="chapter2.html" data-transition="3">
								<div class="number">2</div>
							</a>
							<a class="cir-3 cir" data-cir="3" href="chapter3.html" data-transition="3">
								<div class="number">3</div>
							</a>
							<a class="cir-4 cir" data-cir="4" href="chapter4.html" data-transition="3">
								<div class="number">4</div>
							</a>
							<a class="cir-5 cir" data-cir="5" href="chapter5.html" data-transition="3">
								<div class="number">5</div>
							</a>
						</div>
					</div>
				</nav>

				<aside class="infos">
					<div class="overlay"></div>
					<div class="container">
						<div class="disclaimer">
							<div class="title">Mentions légales</div>
							<div class="text">Ce web documentaire a été réalisé dans le cadre d’un projet scolaire. Nous ne détenons pas les droits des médias et
								contenus utilisés sur ce site, à l’exception des enregistrements et textes liés à l’interview du Docteur Philippe
								Fossati que nous avons réalisée nous-mêmes lors de nos recherches pour ce projet.
							</div>
						</div>
						<div class="team">
							<div class="title">Equipe</div>
							<div class="member">
								<div class="role">
									Chef de projet
								</div>
								<div class="name">
									Fanny Ravassard
								</div>
							</div>
							<div class="member">
								<div class="role">
									Designer
								</div>
								<div class="name">
									Fanny Sinan
								</div>
							</div>
							<div class="member">
								<div class="role">
									Designer
								</div>
								<div class="name">
									Pauline Aperghis
								</div>
							</div>
							<div class="member">
								<div class="role">
									Designer
								</div>
								<div class="name">
									Raphaël Guenassia
								</div>
							</div>
							<div class="member">
								<div class="role">
									Développeur
								</div>
								<div class="name">
									Paul Lamy
								</div>
							</div>
							<div class="member">
								<div class="role">
									Développeur
								</div>
								<div class="name">
									Tristan Lanoye
								</div>
							</div>
						</div>
					</div>
				</aside>

				<footer class="options">
					<span class="option">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
						    stroke-linecap="round" stroke-linejoin="round" class="feather feather-info">
							<circle cx="12" cy="12" r="10"></circle>
							<line x1="12" y1="16" x2="12" y2="12"></line>
							<line x1="12" y1="8" x2="12" y2="8"></line>
						</svg>
					</span>
				</footer>
			</div>
		</div>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.6/wavesurfer.min.js"></script>

</body>

</html>
