<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="apple-touch-icon" sizes="180x180" href="static/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16x16.png">
	<link rel="manifest" href="static/icons/site.webmanifest">
	<link rel="mask-icon" href="static/icons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#ffffff">
	<title>Schizophrenia - Chapitre 3</title>
</head>

<body>
	<div class="cursor-fixed"></div>
	<div class="cursor">
		<div class="inside_cursor"></div>
	</div>
	<div class="bar-transition bar-transition-1" data-duration="600"></div>
	<div class="bar-transition bar-transition-2" data-duration="1000"></div>
	<div class="bar-transition bar-transition-3" data-duration="700"></div>
	<div class="bar-transition bar-transition-4" data-duration="900"></div>
	<audio class="off" data-ref="0" data-page="chapter0">
		<source src="static/music/chap0.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio class="off" data-ref="0" data-page="chapter1">
		<source src="static/music/chap1.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio class="off" data-ref="0" data-page="chapter3">
		<source src="static/music/chap3.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio class="off" data-ref="0" data-page="chapter4">
		<source src="static/music/chap4.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio class="off" data-ref="0" data-page="chapter5">
		<source src="static/music/chap5.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio loop class="ambient">
		<source src="static/music/ambient.mp3" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<div id="barba-wrapper">
		<div class="barba-container" data-namespace="chapter3">
			<audio src="static/music/menu.mp3" class="audio-menu"></audio>
			<div class="chapter-content">
				<div class="menu-svg">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5"
					    stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle">
						<circle cx="12" cy="12" r="10"></circle>
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
					    stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
						<line x1="3" y1="12" x2="21" y2="12"></line>
						<line x1="3" y1="6" x2="21" y2="6"></line>
						<line x1="3" y1="18" x2="21" y2="18"></line>
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
					    stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
						<line x1="18" y1="6" x2="6" y2="18"></line>
						<line x1="6" y1="6" x2="18" y2="18"></line>
					</svg>
				</div>
				<div class="current-chapter">
					<div class="title">
						<div class="title-bar before"></div>
						Chapitre 3
						<div class="title-bar after"></div>
					</div>
				</div>

				<div class="progress-bar">
					<div class="progress-bg" data-state="0"></div>
					<div class="progress-visible">
						<div class="theme theme-0">
							<div class="point" data-anchor='0'></div>
						</div>
						<div class="theme theme-1">
							<div class="point" data-anchor='1'></div>
							<div class="point" data-anchor='2'></div>
						</div>
						<div class="theme theme-2">
							<div class="point" data-anchor='3'></div>
						</div>
					</div>
				</div>


				<div class="screen active" data-active data-screen="0">
					<audio class="off" data-ref="0">
						<source src="static/music/chap3.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
						<code>audio</code>.
					</audio>
					<div class="media">
						<img src="static/images/03_bg0a.png" alt="" data-parallax data-amplitude="0.2" class="bg">
						<img src="static/images/03_bg0b.png" alt="" data-parallax data-amplitude="0.5" class="front">
					</div>
					<div class="overlay"></div>
					<div class="intro">
						<div class="title" data-transition="1">Une remise en cause</div>
						<div class="dates" data-transition="1">1979 - 2000</div>
						<div class="subtitle" data-transition="1">Avec l’arrivée de la psychiatrie en 1969, l’arrivée de l’anti-psychiatrie et l’augmentation de la consommation de drogues,
							la schizophrénie va prendre un nouveau tournant </div>
					</div>
				</div>
				<div class="screen" data-active data-screen="1">
					<div class="media"></div>
					<aside class="plus" data-plus="1">
						<div class="overlay"></div>
						<div class="container">
							<div class="disclaimer">
								<div class="title">En savoir plus</div>
								<div class="more-text">
									<p>
										En 1970 les scientifiques de l’anti-psychiatrie dénoncent et font réfléchir sur la schizophrénie. Pour eux les psychoses
										étaient générées par une société malade avec l’aide de psychiatres répressifs. Ils contestent la psychiatrie «
										classique » qu’ils considèrent comme une force d’oppression institutionnelle élaborée par et pour des gens « normaux
										».
									</p>
									<p>
										David Cooper dénonce le subterfuge de l’invention de la schizophrénie en définissant cette dernière. Il ne parle plus en
										termes de pathologie mais en termes sociaux et culturels. La schizophrénie serait la réaction de survie exprimée
										par un individu ayant grandi dans un univers aliénant et incohérent, à la base d’une violence d’autant plus sournoise
										et diffuse qu’elle ne se verbalise pas, qu’elle provient des membres de la famille proche –qui eux-mêmes n’en sont
										pas conscients, qui eux-mêmes sont également victimes d’une situation qui leur échappe- et qu’elle existe depuis
										toujours dans le cadre du développement de la personne que l’on étiquette plus tard sous le terme de « schizophrénie
										».
									</p>
								</div>
							</div>
						</div>
					</aside>
					<div class="overlay"></div>
					<div class="quote">
						<div class="subtitle" data-transition="1">
							<span class="mark">«</span> Ce que j’ai essayé de faire dans ce livre, c’est de regarder dans son contexte humain réel l’individu qu’on
							a étiqueté comme « schizophrène », de rechercher comment cette étiquette lui a été donnée, par qui elle a été posée,
							et ce que cela signifie, à la fois pour celui qui l’a posée et pour celui qui l’a reçue.
							<span class="mark">»</span>
							<span class="author">- David Cooper</span>
						</div>
						<div class="title" data-transition="1">L’apogée de l’anti-psychatrie</div>
						<div class="more" data-transition="1">
							En savoir plus
						</div>
					</div>
				</div>
				<div class="screen" data-active data-screen="2">
					<div class="media">
						<img src="static/images/03_bg2.png" alt="" data-parallax data-amplitude="0.5">
					</div>
					<aside class="plus" data-plus="2">
						<div class="overlay"></div>
						<div class="container">
							<div class="disclaimer">
								<div class="title">En savoir plus</div>
								<div class="more-text">
									<p>
										Musicien britannique, fondateur du groupe Pink Floyd avec Roger Waters, Rick Wright, Nick Mason et Bob Klose, en 1965. Il
										est exclu du groupe en 1968 à cause de sa consommation de LSD rendant son comportement instable. Si l’influence
										de la drogue sur sa santé mentale, déjà troublée, est indéniable, le diagnostic de schizophrénie à son départ du
										groupe crée le débat car il présente des traits plus caractéristiques d’une forme d’autisme. Sa chanson “See Emily
										play” peut faire penser à l’histoire d’une jeune fille schizophrène.
									</p>
								</div>
							</div>
						</div>
					</aside>
					<div class="overlay"></div>
					<div class="text">
						<div class="title" data-transition="1"> Des hallucinogènes qui rendent schizophrènes ?</div>
						<div class="subtitle" data-transition="1">LEn 1970 l’augmentation de la consommation de cannabis, PCP, ecstasy, LSD, champignons, amphétamines agissent comme
							éléments déclencheurs de l’apparition d’un premier épisode psychotique ou d’une rechute chez une personne prédisposée
							à la schizophrénie. Mais attention à ne pas faire de raccourcis, la consommation de drogue ne cause pas la schizophrénie.</div>
						<div class="more" data-transition="1">
							En savoir plus
						</div>
					</div>
				</div>
				<div class="screen" data-active data-screen="3">
					<div class="media">
						<video class="video" data-ref="3">
							<source src="static/videos/video2.mp4" type="video/mp4">
						</video>
					</div>
					<aside class="plus" data-plus="3">
						<div class="overlay"></div>
						<div class="container">
							<div class="disclaimer">
								<div class="title">En savoir plus</div>
								<div class="more-text">
									<p>
										Billy Milligan possédait 24 personnalités différentes, 10 étant considérées comme n’étant pas indésirables et les autres
										l’étant. Billy Milligan parlait de ces personnalités comme des "habitants" et les considérait comme des personnes.
										Selon lui, en les réduisant à des personnalités, on leur donne l'impression de dénier leur réalité. Il a inspiré
										l’histoire du film Split, réalisé par M. Night Shyamalan.
									</p>
								</div>
							</div>
						</div>
					</aside>
					<div class="overlay video"></div>
					<div class="movie">
						<div class="title" data-transition="1">Billy Milligan</div>
						<div class="subtitle" data-transition="1"></div>
						<div class="more" data-transition="1">
							En savoir plus
						</div>
					</div>
				</div>

				<nav class="menu" data-active>
					<div class="corner"></div>
					<div class="img-container active" data-chapter="3">
						<img src="static/images/03_bg0a.png" alt="" data-parallax data-amplitude="0.2" class="bg">
						<img src="static/images/03_bg0b.png" alt="" data-parallax data-amplitude="0.5" class="front">
					</div>
					<div class="img-overlay"></div>
					<div class="data-container">
						<div class="text">
							<div class="chapter" data-transition="2">Choix du chapitre</div>
							<div class="title" data-transition="2">Une remise en cause</div>
							<div class="dates" data-transition="2">1979 - 2000</div>
						</div>
						<div class="numbers">
							<a class="cir-0 cir" data-cir="0" href="chapter0.html" data-transition="3">
								<div class="number">0</div>
							</a>
							<a class="cir-1 cir" data-cir="1" href="chapter1.html" data-transition="3">
								<div class="number">1</div>
							</a>
							<a class="cir-2 cir" data-cir="2" href="chapter2.html" data-transition="3">
								<div class="number">2</div>
							</a>
							<a class="cir-3 cir" data-cir="3" href="chapter3.html" data-transition="3">
								<div class="number">3</div>
							</a>
							<a class="cir-4 cir" data-cir="4" href="chapter4.html" data-transition="3">
								<div class="number">4</div>
							</a>
							<a class="cir-5 cir" data-cir="5" href="chapter5.html" data-transition="3">
								<div class="number">5</div>
							</a>
						</div>
					</div>
				</nav>

				<aside class="infos">
					<div class="overlay"></div>
					<div class="container">
						<div class="disclaimer">
							<div class="title">Mentions légales</div>
							<div class="text">Ce web documentaire a été réalisé dans le cadre d’un projet scolaire. Nous ne détenons pas les droits des médias et
								contenus utilisés sur ce site, à l’exception des enregistrements et textes liés à l’interview du Docteur Philippe
								Fossati que nous avons réalisée nous-mêmes lors de nos recherches pour ce projet.
							</div>
						</div>
						<div class="team">
							<div class="title">Equipe</div>
							<div class="member">
								<div class="role">
									Chef de projet
								</div>
								<div class="name">
									Fanny Ravassard
								</div>
							</div>
							<div class="member">
								<div class="role">
									Designer
								</div>
								<div class="name">
									Fanny Sinan
								</div>
							</div>
							<div class="member">
								<div class="role">
									Designer
								</div>
								<div class="name">
									Pauline Aperghis
								</div>
							</div>
							<div class="member">
								<div class="role">
									Designer
								</div>
								<div class="name">
									Raphaël Guenassia
								</div>
							</div>
							<div class="member">
								<div class="role">
									Développeur
								</div>
								<div class="name">
									Paul Lamy
								</div>
							</div>
							<div class="member">
								<div class="role">
									Développeur
								</div>
								<div class="name">
									Tristan Lanoye
								</div>
							</div>
						</div>
					</div>
				</aside>

				<footer class="options">
					<span class="option">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
						    stroke-linecap="round" stroke-linejoin="round" class="feather feather-info">
							<circle cx="12" cy="12" r="10"></circle>
							<line x1="12" y1="16" x2="12" y2="12"></line>
							<line x1="12" y1="8" x2="12" y2="8"></line>
						</svg>
					</span>
				</footer>
			</div>
		</div>
	</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.6/wavesurfer.min.js"></script>

</body>

</html>
