<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="apple-touch-icon" sizes="180x180" href="static/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16x16.png">
	<link rel="manifest" href="static/icons/site.webmanifest">
	<link rel="mask-icon" href="static/icons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#ffffff">
	<title>Schizophrenia</title>
</head>

<body>
	<div class="cursor-fixed"></div>
	<div class="cursor">
		<div class="inside_cursor"></div>
	</div>
	<audio class="off" data-ref="0" data-page="chapter0">
		<source src="static/music/chap0.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio class="off" data-ref="0" data-page="chapter1">
		<source src="static/music/chap1.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio class="off" data-ref="0" data-page="chapter3">
		<source src="static/music/chap3.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio class="off" data-ref="0" data-page="chapter4">
		<source src="static/music/chap4.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio class="off" data-ref="0" data-page="chapter5">
		<source src="static/music/chap5.aac" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<audio loop class="ambient">
		<source src="static/music/ambient.mp3" type="audio/wav"> Votre navigateur ne prend pas en charge l'élément
		<code>audio</code>.
	</audio>
	<div class="bar-transition bar-transition-1" data-duration="600"></div>
	<div class="bar-transition bar-transition-2" data-duration="1000"></div>
	<div class="bar-transition bar-transition-3" data-duration="700"></div>
	<div class="bar-transition bar-transition-4" data-duration="900"></div>
	<div id="barba-wrapper">
		<div class="barba-container" data-namespace="index">
			<audio src="static/music/menu.mp3" class="audio-menu"></audio>
			<div class="index-content">
				<div class="intro-overlay">
					<div class="title">Schizophrenia</div>
					<div class="play">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
						    stroke-linecap="round" stroke-linejoin="round" class="feather feather-play">
							<polygon points="5 3 19 12 5 21 5 3"></polygon>
						</svg>
						<span>
							Commencer
						</span>
					</div>
				</div>
				<video class="video-intro">
					<source src="static/videos/intro.mp4" type="video/mp4">
				</video>
				<div class="video-overlay"></div>
				<div class="content-text">
					<div class="skip-intro">Passer l'introduction</div>
				</div>
				<nav class="menu-index" data-active>
					<div class="img-container active" data-chapter="0">
						<img src="static/images/00_bg0a.png" alt="" data-parallax data-amplitude="0.2" class="bg">
						<img src="static/images/00_bg0b.png" alt="" data-parallax data-amplitude="0.5" class="front">
					</div>
					<div class="img-overlay"></div>
					<div class="data-container">
						<div class="text">
							<div class="chapter" data-transition="1">Introduction</div>
							<div class="dates" data-transition="1">Choississez par quel chapitre commencer</div>
							<div class="period" data-transition="1">1898 - 1911</div>
						</div>
						<div class="numbers">
							<a class="cir-0 cir" data-cir="0" href="chapter0.html" data-transition="2">
								<div class="number">0</div>
							</a>
							<a class="cir-1 cir" data-cir="1" href="chapter1.html" data-transition="2">
								<div class="number">1</div>
							</a>
							<a class="cir-2 cir" data-cir="2" href="chapter2.html" data-transition="2">
								<div class="number">2</div>
							</a>
							<a class="cir-3 cir" data-cir="3" href="chapter3.html" data-transition="2">
								<div class="number">3</div>
							</a>
							<a class="cir-4 cir" data-cir="4" href="chapter4.html" data-transition="2">
								<div class="number">4</div>
							</a>
							<a class="cir-5 cir" data-cir="5" href="chapter5.html" data-transition="2">
								<div class="number">5</div>
							</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.6/wavesurfer.min.js"></script>

</body>

</html>
