//FREIGHT SANS PRO
@font-face {
	font-family: "Freight";
	src: url('assets/fonts/Freight Sans/freight-sans-pro_normal_500.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Freight Italic";
	src: url('assets/fonts/Freight Sans/freight-text-pro_700_italic.ttf');
	font-weight: 400;
	font-style: normal;
}

//PROXIMA NOVA
@font-face {
	font-family: 'Proxima';
	src: url('assets/fonts/Proxima Nova/Proxima_Nova_Alt_Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Thin";
	src: url('assets/fonts/Proxima Nova/Proxima_Nova_Thin.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Alt Thin";
	src: url('assets/fonts/Proxima Nova/Proxima_Nova_Alt_Thin.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Semibold";
	src: url('assets/fonts/Proxima Nova/Proxima_Nova_Semibold.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Bold";
	src: url('assets/fonts/Proxima Nova/Proxima_Nova_Alt_Bold.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Black";
	src: url('assets/fonts/Proxima Nova/Proxima_Nova_Alt_Black.ttf');
	font-weight: 400;
	font-style: normal;
}

//Montseraat

@import url('https://fonts.googleapis.com/css?family=Montserrat');
