@import '../Utils/scss/common';

.introduction {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-bottom: 40px;

	.top {
		display: flex;
		justify-content: space-between;
		padding-top: 30px;
		padding-bottom: 50px;

		.left {
			flex-basis: 20%;

			.avatar-container {
				border-radius: 50%;
				background-size: cover;
				width: 60px;
				height: 60px;
				overflow: hidden;
				margin-bottom: 15px;

				.avatar {
					width: 100%;
				}
			}

			.username {
				font-size: 14px;
				line-height: $p-line-height;
				opacity: 0.9;
			}

			.number {
				font-size: 14px;
				line-height: $p-line-height;
				opacity: 0.75;
			}
		}

		.right {
			flex-basis: 80%;

			.title {
				font-size: 40px;
				line-height: 120%;
				font-family: $font-sans;
				font-weight: 400;
				opacity: 0.9;
				margin-bottom: 20px;
			}

			.description {
				font-family: $font-content;
				margin-bottom: 30px;
				font-size: $p;
				line-height: $p-line-height;
				width: 75%;
			}
		}
	}

	.bottom {
		display: flex;
		justify-content: space-between;

		.left {
			flex-basis: 70%;
			padding-right: 20px;

			.image-container {
				position: relative;

				.image {
					width: 100%;
				}
			}

			.tags {
				.tag {
					font-size: $tag;
					font-weight: 500;
					line-height: $h2-line-height;
					text-transform: uppercase;
					opacity: 0.75;
					margin-right: 10px;
				}
			}
		}

		.right {
			flex-basis: 30%;
			padding-left: 15px;

			.progress-bar {
				position: relative;
				background: rgba(25, 25, 25, 0.15);
				width: 100%;
				height: 5px;
				border-radius: 3px;
				margin-bottom: 10px;

				.current-bar {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					transform-origin: 0 0;
					background: $wwf-orange;
				}
			}

			.item {
				margin-bottom: 20px;
			}

			.value {
				font-size: 26px;
				line-height: $p-line-height;
				margin-bottom: 4px;
			}

			.label {
				font-size: 15px;
				opacity: 0.6;
			}

			.amount {
				.current {
					color: $wwf-orange;
				}
			}

			.cta {
				display: block;
				text-align: center;
				background: $wwf-orange;
				color: white;
				padding: 22px 20px;
				border-radius: 2px;
				margin-top: 50px;
				box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
				transition: 0.2s all ease;

				&:hover {
					box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
				}
			}

			.copyright {
				font-size: $tag;
				line-height: $tag-line-height;
				opacity: 0.85;
			}
		}
	}
}

.separator-section {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 400%;
	height: 1px;
	background: rgba(0, 0, 0, 0.1);
}

.content {
	display: flex;
	padding-top: 50px;
	padding-bottom: 50px;


	.paragraph-intro {
		font-family: $font-content;
		margin-bottom: 30px;
		font-size: $p;
		line-height: $p-line-height;
		width: 85%;
		opacity: 0.85;
	}

	.image-container {
		width: 85%;
		overflow: hidden;
		margin-bottom: 40px;

		.image {
			width: 100%;
		}
	}

	.paragraph {
		font-family: $font-content;
		margin-bottom: 25px;
		font-size: $p;
		line-height: $p-line-height;
		width: 85%;
		opacity: 0.85;
	}

	.section-intro {
		font-size: 18px;
		font-weight: 500;
		line-height: $h2-line-height;
		text-transform: uppercase;
		opacity: 0.75;
		margin-bottom: 10px;
	}

	.section-title {
		font-size: 16px;
		font-weight: 500;
		line-height: $h2-line-height;
		opacity: 0.75;
	}

	.left {
		flex-basis: 70%;
	}

	.right {
		flex-basis: 30%;

		.paragraph-intro {
			width: 100%;
		}

		.donation-block {
			display: block;
			padding: 25px 30px 10px 30px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
			margin-bottom: 25px;
			transition: 0.2s all ease;

			&:hover {
				box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
			}

			.title {
				font-size: 20px;
				line-height: $p-line-height;
				margin-bottom: 8px;
			}
			.subtitle {
				font-size: 13px;
				opacity: 0.6;
				margin-bottom: 20px;
			}
			.description {
				font-family: $font-content;
				margin-bottom: 30px;
				font-size: $p;
				line-height: $p-line-height;
				opacity: 0.85;
			}
			.start {
				margin-bottom: 25px;
				.label {
					font-size: 15px;
					opacity: 0.6;
				}

				.value {
					font-size: 15px;
					line-height: $p-line-height;
					margin-bottom: 4px;
				}
			}
			.donations {
				font-size: 13px;
				opacity: 0.6;
				margin-bottom: 15px;
			}
		}
	}
}


@media (max-width: 800px) {
	.introduction {
		.top {
			flex-direction: column;
		}
		.left {
			display: flex;
			align-items: center;
			padding-left: 0px;
			.avatar-container {
				margin-right: 20px;
			}
			.username, .number {
				margin-top: -15px;
			}
		}
		.right {
			.description {
				margin-right: 0;
			}
		}
		.bottom {
			flex-direction: column;
			.left {
				padding: 0;
			}
			.right {
				padding-left: 0;
			}
		}
	}
	.content {
		flex-direction: column;
	}
}
