@import '../Utils/scss/common';

.wrapper-login {
    position: relative;
	padding-top: 85px;
	min-height: auto;
	padding-bottom: 115px;

	.text-container {
		margin-bottom: 65px;

		.title {
			font-size: 34px;
			line-height: $h1-line-height;
			font-family: $font-sans;
			font-weight: 400;
			opacity: 0.9;
			margin-bottom: 5px;
		}

		.description {
			font-family: $font-content;
			margin-bottom: 30px;
			font-size: $p;
			line-height: $p-line-height;
		}
	}
    .form-container {
        display: flex;
        .form {
            flex-direction: column;
            justify-content: center;
            .input-field {
                margin: 0 0 3.5rem 0;
				label {
					font-size: 19px;
					color: black;
					opacity: 0.6;
					transition: 0.2s all ease;
				}
				.validate {
					&:focus {
						box-shadow: 0 1px 0 0 $wwf-orange;
						border-bottom: 1px solid $wwf-orange;

						+label {
							color: $wwf-orange;
							//font-size: 16px;
						}
					}
				}
                input {
                    margin: 0;
                    display: inline-block;
                    height: auto;
                    padding-top: 14px;
                    padding-bottom: 14px;
                    font-size: 1.1rem;
                    &::placeholder {
						color: black;
                        opacity: 0.2;
                    }
                }
            }
            .btn {
                font-size: 0.8rem;
                height: auto;
                padding: 5px 30px;
                border-radius: 2px;
                font-weight: 700;
				background: $wwf-orange;
				transition: all ease 0.2s;
				margin-right: 20px;

				&:hover {
					opacity: 0.85;
				}
            }

			.signup {
				font-family: $font-sans;
				font-size: 15px;
				opacity: 0.7;
				transition: 0.2s all ease;

				&:hover {
					opacity: 0.9;
				}
			}
        }
    }
}

.toast {
    text-transform: uppercase;
    font-size: 0.9rem;
    background: $s1-red;
}


@media (max-width: 700px) {
	.wrapper-login {
		.text-container {
			.title {
				line-height: 42px;
				margin-bottom: 20px;
			}
		}
		.form-container {
			.form {
				width: 100%;
				.last-step {
					button {
						width: 100%;
					}
				}
			}
		}
	}
}
