@import '../Utils/scss/common';
@import '../Home/main.scss';


.project-main {
	padding-right: 0;
}

.type-project {
	color: $wwf-orange;
}

.inner-project-main {
	width: 100%;
	display: flex;
	justify-content: space-between;
	.image-container {
		width: 47%;
	}
	.text-container {
		width: 47%;
	}
}

.wrapper-list {
	.introduction {
		padding-top: 35px;

		.title {
			color: #111;
		}
	}

	.no-result {
		width: 75%;
		margin: 0 auto;
		text-align: center;
		opacity: 0.75;
		font-size: 14px;
	}

	.featured-projects {
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.list-projects {
		padding-top: 20px;
		padding-bottom: 0;
	}

	.project-main {
		margin-bottom: 0;
	}
}

.all-projects {
	flex-direction: column;

	.projects-list {
		flex-wrap: wrap;

		.project {
		}
	}

}


@media (max-width: 800px) {
	.project-main {
		.content {
			.inner-project-main {
				flex-direction: column;
				.image-container, .text-container {
					width: 100%;
				}
			}
		}
	}
}
